// @file
// Place your mixins here. Feel free to roll your own mixins.


@mixin grid-columns(
        $small-up-screens: false,
       $medium-up-screens: false,
        $large-up-screens: false,
       $xlarge-up-screens: false,
      $xxlarge-up-screens: false,
      $small-only-screens: false,
     $medium-only-screens: false,
      $large-only-screens: false,
     $xlarge-only-screens: false,
    $xxlarge-only-screens: false ){

  @if $small-up-screens {
    @include grid-column($small-up-screens);
  }

  @if $medium-up-screens {
    @media #{$medium-up} {
      @include grid-column($medium-up-screens);
    }
  }

  @if $large-up-screens {
    @media #{$large-up} {
      @include grid-column($large-up-screens);
    }
  }

  @if $xlarge-up-screens {
    @media #{$large-up} {
      @include grid-column($xlarge-up-screens);
    }
  }

  @if $xxlarge-up-screens {
    @media #{$large-up} {
      @include grid-column($xxlarge-up-screens);
    }
  }


  @if $small-only-screens {
    @media #{$small-only} {
      @include grid-column($small-only-screens);
    }
  }

  @if $medium-only-screens {
    @media #{$medium-up} {
      @include grid-column($medium-only-screens);
    }
  }

  @if $large-only-screens {
    @media #{$large-up} {
      @include grid-column($large-only-screens);
    }
  }
  
  @if $xlarge-only-screens {
    @media #{$large-up} {
      @include grid-column($xlarge-only-screens);
    }
  }

  @if $xxlarge-only-screens {
    @media #{$large-up} {
      @include grid-column($xxlarge-only-screens);
    }
  }
}


.itemCoverArt {
    @include grid-column(8);
    @include grid-columns(4,2,2);
}

.itemSummary {
    @include grid-column(8);
    @include grid-columns(8,10,10);
}
